/* Large desktop */
@media (min-width: 1200px) {
    html {
        background: url("../img/main_bg.png") repeat fixed 0 0 #000000;
    }

    body {
        background-color: #363636;
        color: #9f9d9d;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        margin: 0 auto;
        width: 1000px;
    }

    header {
        background: url("../img/headerBG_03.jpg") repeat-x;
        height: 141px;
        width: 100%;
    }

    .logoLink{
        margin: 10px 30px;
    }

    #wrapper {
        background-color: #363636;
    }

    a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
    }

    h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
    }

    h2 {
        color: #cc1616;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
        text-align: center;
    }

    code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
    }

    #body{
        margin: 0 15px 0 15px;
    }

    p.footer{
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
    }

    #container{
        margin: 10px;
        border: 1px solid #D0D0D0;
        -webkit-box-shadow: 0 0 8px #D0D0D0;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-color: #363636;
        color: #9f9d9d;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        margin: 0;
        width: 100%;
    }
    header {
        background: url("../img/headerBG_03.jpg") repeat-x;
        height: 141px;
        width: 100%;
    }

    #wrapper {
        background-color: #363636;
        margin: 20px;
    }
    .logoLink{
        margin: 10px 30px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .logoLink{
        margin: 10px 30px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}